@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#card {
    margin:0 auto; 
    border-radius:10px;
}
#card::after, #card::before {
    content: "hellow world"; 
    position:absolute; 
    height: 100%;
    width: 100%; 
    background-image: conic-gradient(from var(--angle), transparent 50%, rgb(255, 217, 3)); 
    top: 50%; 
    left: 50%; 
    translate: -50% -50%;
    z-index: -1;
    padding: 10px; 
    border-radius:10px; 
    animation: 3s spin linear infinite ;
    /* animation-delay: 2s; */
}

#card ::before {
    filter:blur(1.5rem); 
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}